* {
font-family: 'Montserrat';
box-sizing: border-box;
}

body {
font-size: 14px;
overflow: hidden;
margin-top: 0;
margin-bottom: 0;
margin-left: 0;
background-color: #3F3D3F;
}

/*контейнер фону*/
.main-background {
height: 100%;
width: 100%;
margin: 0 auto;
background-color: #3F3D3F;
}

/*контейнер бокової панелі*/
.side-panel {
width: 48px;
height: 100vh;
background-color: #D3D1EB;
position: absolute; 
}

/*Контейнер верхньої панелі*/
.top-panel {
width:100%;
height: 50px;
background-color: #5C5A5C;
position: absolute;
}

/*Головна сторінка*/

/*контейнер доходів за місяць*/
.income-panel {
width: 384px;
height: 512px;
background: rgba(42,30,58,1);
border-radius: 5px;
position: absolute;
top: 66px;
left: 64px;
}

/*контейнер витрат за місяць*/ 
.expenses-panel {
width: 384px;
height: 512px;
background: rgba(42,30,58,1);
border-radius: 5px;
position: absolute;
top: 66px;
left: 472px;
}

/*контейнер курсу валют*/
.currency-panel {
background: rgba(42,30,58,1);
position: absolute;
height: 112px;
width: 792px;
left: 64px;
top: 592px;
border-radius: 5px;
}

/*заощадження*/
.savings {
background: rgba(42,30,58,1);
position: absolute;
border-radius: 5px;
width: 384px;
height: 304px;
left: 880px;
top: 66px;
}

/*Криптовалюта*/
.cryptocurrency {
background: rgba(42,30,58,1);
position: absolute;
border-radius: 5px;
width: 384px;
height: 320px;
left: 880px;
top: 384px;
}

/*Курс валют*/
#currency1 {
position: relative;
margin-top: auto;
margin-bottom: 20px;
color: white;
}

#currency2 {
position: relative;
color: white;
}

/*4 контейнера відображення курсу валют*/
.currency1 {
position: absolute;
width: 126px;
height: 57px;
left: 27px;
margin-top: 28px;
}

.currency2 {
position: absolute;
width: 126px;
height: 57px;
left: 233px;
margin-top: 28px;
}

.currency3 {
position: absolute;
width: 126px;
height: 57px;
left: 439px;
margin-top: 28px;
}

.currency4 {
position: absolute;
width: 126px;
height: 57px;
left: 645px;
margin-top: 28px;
}

/*розділення курсу валют*/
#separation1 {
position: absolute;
width: 0px;
height: 84px;
left: 192px;
top: 14px;
border: 2px solid #161513;
}

#separation2 {
position: absolute;
width: 0px;
height: 84px;
left: 400px;
top: 14px;
border: 2px solid #161513;
}

#separation3 {
position: absolute;
width: 0px;
height: 84px;
left: 600px;
top: 14px;
border: 2px solid #161513;
}

/*Доходи та витрати за місяць*/
#name {
top: 20px;
position: relative;
font-size: 24px;
color: white; 
margin: 0 auto;
text-align: center;
width: 200px;
}

#retreat {
top: 50px;
position: relative;
color: white;
font-size: 18px;
left: 70px;
margin-bottom: 30px;
width: 250px;
}

#location1 {
left: 70px;
top: 40px;
position: relative;
color: white;
font-size: 18px;
width: 200px;
}

#location2 {
left: 205px;
top: 40px;
position: relative;
color: white;
font-size: 18px;
width: 170px;
margin-bottom: 15px;
}

#location3 {
left: 70px;
top: 40px;
position: relative;
color: white;
font-size: 18px;
width: 180px;
}

#location4 {
left: 135px;
top: 40px;
position: relative;
color: white;
font-size: 18px;
width: 200px;
margin-bottom: 15px;
}

#location5 {
left: 153px;
top: 40px;
position: relative;
color: white;
font-size: 18px;
width: 200px;
margin-bottom: 15px;
}  

#location6 {
left: 133px;
top: 40px;
position: relative;
color: white;
font-size: 18px;
width: 180px;
}   






/*Сторінка Записи*/

.flex-container2 {
position: absolute;
left: 60px;
display: flex;
justify-content: space-between;
}

.flex-container2 > * {
margin-right: 10px;
}

.flex-container3 {
margin-right: 80px;
}

#income-btn {
position: absolute;
left: 35vh;
font-size: 26px;
margin-top: 80px; 
background-color: #1C1D1D;
cursor: pointer;
}

/*Контейнер для додавання записів*/
.addition {
width: 1090px;
height: 100px;
background-color: #1C1D1D;
border-radius: 5px;
position: absolute;
top: 140px;
left: 34vh;
}

/*Контейнер для відображення записів*/
.reflection {
width: 1090px;
height: 380px;
background-color: #1C1D1D;
border-radius: 5px;
position: absolute;
top: 280px;
left: 34vh;
}

#incomeText {
position: absolute;
color: white;
left: 60px;
font-size: 22px;
margin-top: 20px; 
}

#incomeText2 {
position: relative;
color: white;
width: 160px;
font-size: 22px;
margin-top: 20px;
}

#expenseText {
position: absolute;
color: white;
left: 60px;
font-size: 22px;
margin-top: 20px; 
}

#expenseText2 {
position: relative;
color: white;
width: 160px;
font-size: 22px;
margin-top: 20px; 
}

.category {
position: relative;
color: white;
font-size: 18px;
margin-top: 50px;
}

.version {
position: relative;
color: white;
font-size: 18px;
margin-top: 51px;
}

.sum {
position: relative;
color: white;
font-size: 18px;
margin-top: 51px;
}

.input1 {
margin-top: 54px;
border: 1px solid #CFCFCF;
height: 16px;
padding: 2px;
float: none;
width: 70px;
color: black;
position: relative;
background: white;
}

.record-button {
background-color: rgba(162, 166, 65, 1);
margin-top: 52px;
border: 0 solid black;
color: black;
cursor: pointer;
height: 20px;
text-align: center;
width: 90px;
left: 840px;
border-radius: 5px;
font-size: 16px;
font-weight: bold;
cursor: pointer;
}

.input2 {
margin-top: 54px;
border: 1px solid #CFCFCF;
height: 16px;
padding: 2px;
float: none;
width: 90px;
color: black;
position: relative;
background: white;
font-size: 14px;
}

.date {
position: relative;
color: white;
font-size: 18px;
margin-top: 51px;
}

.note {
position: relative;
color: white;
font-size: 18px;
margin-top: 51px;
}

.input3 {
margin-top: 54px;
border: 1px solid #CFCFCF;
height: 16px;
padding: 2px;
float: none;
width: 120px;
color: black;
position: relative;
background: white;
}

#expense-btn {
position: absolute;
left: 49vh;
font-size: 26px;
margin-top: 80px;
background-color: #1C1D1D;
cursor: pointer;
}

#expenseList {
margin-top: 52px;
height: 18px;
width: 80px;
position: relative;
background-color: #fff;
}

#incomeList {  
margin-top: 52px;
height: 18px;
width: 80px;
position: relative;
background-color: #fff;
}
  
option {
background-color: #fff;
}

.moneyList {
margin-top: 52px;
height: 18px;
width: 80px;
position: relative;
background-color: #fff;
}

.month {
position: relative;
color: white;
font-size: 18px;
margin-top: 24px;
}

.monthList {
margin-top: 25px;
height: 18px;
width: 80px;
position: relative;
background-color: #fff;
}

.year {
position: relative;
color: white;
font-size: 18px;
margin-top: 24px;
}

.yearList {
margin-top: 25px;
height: 18px;
width: 80px;
position: relative;
background-color: #fff;
}

.on-date {
position: relative;
color: white;
font-size: 18px;
margin-top: 24px;
}

.on-date2 {
position: relative;
color: white;
font-size: 16px;
margin-top: 26px;
border: 1px solid #CFCFCF;
height: 16px;
float: none;
width: 105px;
color: black;
background: white;
}

.for-date {
position: relative;
color: white;
font-size: 18px;
margin-top: 24px;
}

.for-date2 {
position: relative;
color: white;
font-size: 16px;
margin-top: 26px;
border: 1px solid #CFCFCF;
height: 16px;
float: none;
width: 105px;
color: black;
background: white;
}

.record-button2 {
background-color: rgba(162, 166, 65, 1);
margin-top: 24px;
position: relative;
border: 0 solid black;
color: black;
cursor: pointer;
height: 20px;
text-align: center;
width: 100px;
border-radius: 5px;
font-size: 16px;
font-weight: bold;
}

/*Контейнер для відображення таблиці записів*/
.table {
left: 45px;  
position: absolute;
background-color: rgba(162, 166, 65, 1);
width: 1000px;
height: 275px;
margin-top: 65px;
overflow: auto;
}

.table1 {
position: relative;
height: 50px; 
color: white;
background-color: olive ; 
width: 150px;
max-width: 150px;
word-wrap: break-word;
}

.table2 {
position: relative;
height: 50px; 
color: white;
background-color: olive ; 
width: 400px;
max-width: 400px;
word-wrap: break-word;
}




/*Сторінка Експорт*/

.main-name {
position: relative;
background-color: #3F3D3F;
color: white;
left: 34vh;
font-size: 28px;
margin-top: 80px; 
}

/*Контейнера експорту*/
.excel-conteiner {
width: 1100px;
height: 100px;
background-color: #1C1D1D;
border-radius: 5px;
position: relative;
left: 33vh;
}

.flex-container {
position: relative;
left: 60px;
display: flex;
height: 20px;
top: 10px;
}

.flex-container > * {
margin-right: 10px;
}

.xml-conteiner {
width: 1100px;
height: 100px;
background-color: #1C1D1D;
border-radius: 5px;
position: relative;
top: 20px;
left: 33vh;
}
  
.csv-conteiner {
width: 1100px;
height: 100px;
background-color: #1C1D1D;
border-radius: 5px;
position: relative;
top: 40px;
left: 33vh;
}

.import-conteiner {
width: 1100px;
height: 100px;
background-color: #1C1D1D;
border-radius: 5px;
position: relative;
top: 60px;
left: 33vh; 
}
 
.name-conteiner {
position: relative;
color: white;
left: 60px;
font-size: 22px;
top: 20px;
background-color: #1C1D1D;
width: 60px;
}
  
.period {
position: relative;
color: white;
width: 66px;
font-size: 18px;
margin-top: -3px;
background-color: #1C1D1D;
}

.input-day {
border: 1px solid #CFCFCF;
height: 16px;
padding: 2px;
float: none;
width: 95px;
color: black;
position: relative;
background: white;
}

.do {
position: relative;
color: white;
font-size: 18px;
margin-top: -3px;
width: 22px;
}
  
.input-day2 {
border: 1px solid #CFCFCF;
height: 16px;
padding: 2px;
float: none;
width: 95px;
color: black;
position: relative;
background: white;
}

.button {
background-color: rgba(162, 166, 65, 1);
position: relative;
border: 0 solid black;
color: black;
cursor: pointer;
height: 20px;
text-align: center;
width: 90px;
border-radius: 5px;
font-size: 16px;
font-weight: bold;
margin-top: -2px;
}

.button2 {
background-color: rgba(162, 166, 65, 1);
position: relative;
margin-top: -3px;
border: 0 solid black;
color: black;
cursor: pointer;
height: 20px;
text-align: center;
width: 90px;
left: 240px;
border-radius: 5px;
font-size: 16px;
font-weight: bold;
}



/*Цілі*/

.flex-container4 {
top: 20px;
position: relative;
left: 60px;
display: flex;
height: 20px;
}

.flex-container4 > * {
margin-right: 10px;
}

.flex-container5 {
height: 20px;
top: 40px;
position: relative;
left: 60px;
display: flex;
}
    
.flex-container5 > * {
margin-right: 10px;
}

.flex-container6 {
height: 20px;
top: 60px;
position: relative;
left: 60px;
display: flex;
}
      
.flex-container6 > * {
margin-right: 10px;
}

.flex-container6-2 {
margin-right: 100px;
}

.flex-container9 {
position: relative;
left: 60px;
display: flex;
height: 20px;
}

.flex-container9 > * {
margin-right: 10px;
}

.flex-container10 {
height: 20px;
top: 20px;
position: relative;
left: 60px;
display: flex;
}
        
.flex-container10 > * {
margin-right: 10px;
}
  
.flex-container11 {
height: 20px;
top: 40px;
position: relative;
left: 60px;
display: flex;
}
            
.flex-container11 > * {
margin-right: 10px;
}
      
.flex-container11-2 {
margin-right: 100px;
}

.name-conteiner2 {
position: relative;
color: white;
left: 60px;
font-size: 22px;
top: 20px;
background-color: #1C1D1D;
width: 140px;
}

.name-conteiner3 {
position: relative;
color: white;
left: 60px;
font-size: 22px;
background-color: #1C1D1D;
width: 140px;
}

.input-target-conteiner {
width: 500px;
height: 200px;
background-color: #1C1D1D;
border-radius: 5px;
position: relative;
left: 33vh;
}

.target-name {
position: relative;
color: white;
margin-top: -3px;
font-size: 18px;
background-color: #1C1D1D;
}

.target-name2 {
position: relative;
color: white;
margin-top: -3px;
font-size: 18px;
background-color: #1C1D1D;
}

.input-target-name {
border: 1px solid #CFCFCF;
height: 16px;
padding: 2px; 
float: none;
width: 110px;
color: black;
position: relative;
background: white;
}

.input-target-sum {
border: 1px solid #CFCFCF;
height: 16px;
padding: 2px; 
float: none;
width: 110px;
color: black;
position: relative;
background: white;
}

.input-target-sum2 {
border: 1px solid #CFCFCF;
height: 16px;
padding: 2px; 
float: none;
width: 110px;
color: black;
position: relative;
background: white;
}

.input-day3 {
border: 1px solid #CFCFCF;
height: 16px;
padding: 2px;
float: none;
width: 95px;
color: black;
position: relative;
background: white;
}

.sum2 {
position: relative;
color: white;
font-size: 18px;
margin-top: -3px;
}

.end-date{
position: relative;
color: white;
font-size: 18px;
margin-top: -3px;
}

.addition-money-target-conteiner {
width: 500px;
height: 200px;
background-color: #1C1D1D;
border-radius: 5px;
position: absolute;
top: 380px;
left: 33vh;
}

.addition-button {
background-color: rgba(162, 166, 65, 1);
position: relative;
top: 60px;
left: 314px;
border: 0 solid black;
color: black;
cursor: pointer;
height: 20px;
text-align: center;
width: 90px;
border-radius: 5px;
font-size: 16px;
font-weight: bold;
}

.record-button3 {
background-color: rgba(162, 166, 65, 1);
position: relative;
margin-top: -1px;
border: 0 solid black;
color: black;
cursor: pointer;
height: 20px;
text-align: center;
width: 90px;
border-radius: 5px;
font-size: 16px;
font-weight: bold;
}

.version2 {
position: relative;
color: white;
font-size: 18px;
margin-top: -3px;
}
  
.moneyList2 { 
height: 18px;
width: 80px;
position: relative;
background-color: #fff;
}

.target-list {
height: 18px;
width: 110px;
position: relative;
background-color: #fff;
}

.target-list-conteiner {
width: 700px;
height: 440px;
background-color: #1C1D1D;
border-radius: 5px;
position: relative;
top: -221px;
left: 105vh;
}

.target-name3 {
width: 60px;
left: 60px;
position: relative;
color: white;
margin-top: 60px;
font-size: 18px;
background-color: #1C1D1D;
}

.target-table-conteiner {
left: 30px;  
top: 15px;
position: relative;
background-color: rgba(162, 166, 65, 1);
width: 640px;
height: 350px;
overflow: auto;
}

.target-table1 {
position: relative;
height: 50px; 
color: white;
background-color: olive ; 
width: 150px;
max-width: 150px;
word-wrap: break-word;
}
    
.target-table2 {
position: relative;
height: 50px; 
color: white;
background-color: olive ; 
width: 400px;
max-width: 400px;
word-wrap: break-word;
}



/*Аналіз витрат та доходів*/

.flex-container7 {
top: 10px;
position: relative;
left: 60px;
display: flex;
width: 980px;
height: 50px;
}

.flex-container7 > * {
margin-right: 10px;
}

.flex-container7-2 {
margin-right: 80px;
}

.flex-container8 {
top: 100px;
position: relative;
left: 36vh;
display: flex;
width: 240px;
}

.analysis-conteiner {
width: 1100px;
height: 500px;
margin-top: 130px;
background-color: #1C1D1D;
border-radius: 5px;
position: relative;
left: 33vh;
}

#analysis_income_text {
position: relative;
color: white;
width: 160px;
font-size: 22px;
margin-top: 20px;
}

#analysis_expense_text {
position: relative;
color: white;
width: 160px;
font-size: 22px;
margin-top: 20px; 
}

#analysis_income_btn {
position: relative;
font-size: 26px;  
background-color: #1C1D1D;
cursor: pointer;
}

#analysis_expense_btn {
position: relative;
left: 3vh;
font-size: 26px;
background-color: #1C1D1D;
cursor: pointer;
}

.analysis-button {
background-color: rgba(162, 166, 65, 1);
margin-top: 23px; 
border: 0 solid black;
color: black;
cursor: pointer;
height: 20px;
text-align: center;
width: 100px;
border-radius: 5px;
font-size: 16px;
font-weight: bold;
cursor: pointer;
}

#analysis_income_conteiner {
left: 40px;  
position: relative;
background-color: #34FFCB;
width: 1020px;
height: 340px;
margin-top: 35px;
}

#analysis_expense_conteiner {
left: 40px;  
position: relative;
background-color: #3EFFB1;
width: 1020px;
height: 340px;
margin-top: 35px;
}

.in-all {
position: relative;
color: white;
width: 160px;
font-size: 22px;
margin-top: 20px;
left: 100vh;
}

.monthList3 {
margin-top: 25px;
height: 18px;
width: 80px;
position: relative;
background-color: #fff;
}

.yearList4 {
margin-top: 25px;
height: 18px;
width: 80px;
position: relative;
background-color: #fff;
}

.on-date3 {
position: relative;
color: white;
font-size: 16px;
margin-top: 26px;
border: 1px solid #CFCFCF;
height: 16px;
float: none;
width: 105px;
color: black;
background: white;
}

.for-date3 {
position: relative;
color: white;
font-size: 16px;
margin-top: 26px;
border: 1px solid #CFCFCF;
height: 16px;
float: none;
width: 105px;
color: black;
background: white;
}

.analysis_income_chart {
height: 340px;
}

.analysis_expence_chart {
max-height: 340px;
}



/*кредити*/
   
.input-credit-conteiner {
width: 500px;
height: 200px;
background-color: #1C1D1D;
border-radius: 5px;
position: relative;
left: 33vh;
}
  
.addition-money-credit-conteiner {
width: 500px;
height: 200px;
background-color: #1C1D1D;
border-radius: 5px;
position: absolute;
top: 380px;
left: 33vh;
}
  
.credit-list {
height: 18px;
width: 110px;
position: relative;
background-color: #fff;
}
  
.credit-conteiner {
width: 700px;
height: 440px;
background-color: #1C1D1D;
border-radius: 5px;
position: relative;
top: -221px;
left: 105vh;
}
  
.table-credit-conteiner {
left: 30px;  
top: 15px;
position: relative;
background-color: rgba(162, 166, 65, 1);
width: 640px;
height: 350px;
overflow: auto;
}

.flex-container12 {
top: 40px;
position: relative;
left: 60px;
display: flex;

height: 50px;
}
  
.flex-container12 > * {
margin-right: 10px;
}
  
.flex-container12-2 {
margin-right: 10px;
}

.flex-container12-3 {
margin-right: 130px;
}

.sum3 {
position: relative;
color: white;
font-size: 18px;
}

.input-credit-sum {
border: 1px solid #CFCFCF;
height: 16px;
padding: 2px; 
float: none;
width: 110px;
color: black;
position: relative;
background: white;
top: 20px;
}

.addition-button3 {
background-color: rgba(162, 166, 65, 1);
position: relative;
border: 0 solid black;
color: black;
cursor: pointer;
height: 21px;
text-align: center;
width: 90px;
border-radius: 5px;
font-size: 16px;
font-weight: bold;
margin-top: 18px;
}