* {
    font-family: 'Montserrat';
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    background: rgba(42,30,58,1);
  }
  body {
    font-size: 14px;
  }
  
  /*контейнер фону*/
  .container {
  
  width: 100%;
  max-width: 1280px;
  height: 720px;
  margin: 0 auto;
  background-color: rgba(118, 110, 100, 1);
  }
  
  /*контейнер бокової панелі*/
  .container2 {
    width: 48px;
    height: 720px;
    background-color: rgba(162, 166, 65, 1);
    position: absolute;
  }
  
  /*Контейнер верхньої панелі*/
  .container3 {
    width: 1280px;
    height: 50px;
    background: #3b444d; 
    position: absolute;
  }
 #id1 {
  position: absolute;
  background-color: rgba(118, 110, 100, 1);
  color: white;
  left: 120px;
  font-size: 28px;
  margin-top: 80px;
  
 }
 /*Контейнера експорту*/
 .container4 {
  width: 1090px;
  height: 100px;
  background: rgba(42,30,58,1);
  border-radius: 5px;
  position: absolute;
  top: 140px;
  left: 120px;
 }
 
 .container5 {
  width: 1090px;
  height: 100px;
  background: rgba(42,30,58,1);
  border-radius: 5px;
  position: absolute;
  top: 280px;
  left: 120px;
 }
  
 .container6 {
  width: 1090px;
  height: 100px;
  background: rgba(42,30,58,1);
  border-radius: 5px;
  position: absolute;
  top: 420px;
  left: 120px;
 }

 .container7 {
  width: 1090px;
  height: 100px;
  background: rgba(42,30,58,1);
  border-radius: 5px;
  position: absolute;
  top: 560px;
  left: 120px;
 }
 
 #id2 {
  position: absolute;
  color: white;
  left: 60px;
  font-size: 22px;
  margin-top: 20px;
 }
  
#id3 {
  position: absolute;
  color: white;
  left: 60px;
  font-size: 18px;
  margin-top: 50px;
}
#id4 {
  margin-top: 54px;
  border: 1px solid #CFCFCF;
  height: 16px;
  padding: 2px;
  float: none;
  width: 70px;
  color: black;
  left: 135px;
  position: absolute;
  background: white;
}

#id5 {
  position: absolute;
  color: white;
  left: 212px;
  font-size: 18px;
  margin-top: 50px;
  width: 1px;
}
  
#id6 {
  margin-top: 54px;
  border: 1px solid #CFCFCF;
  height: 16px;
  padding: 2px;
  float: none;
  width: 70px;
  color: black;
  left: 240px;
  position: absolute;
  background: white;
}

#id7 {
  background-color: rgba(162, 166, 65, 1);
  position: absolute;
  margin-top: 52px;
  border: 0 solid black;
  color: black;
  cursor: pointer;
  height: 20px;
  text-align: center;
  width: 90px;
  left: 320px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}
  
    