* {
    font-family: 'Montserrat';
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
    background: rgba(42,30,58,1);
  }
  body {
    font-size: 14px;
  }
  
  /*контейнер фону*/
  .container {
  
  width: 100%;
  max-width: 1280px;
  height: 720px;
  margin: 0 auto;
  background-color: rgba(118, 110, 100, 1);
  }
  
  /*контейнер бокової панелі*/
  .container2 {
    width: 48px;
    height: 720px;
    background-color: rgba(162, 166, 65, 1);
    position: absolute;
  }
  
  /*Контейнер верхньої панелі*/
  .container3 {
    width: 1280px;
    height: 50px;
    background: #3b444d; 
    position: absolute;
  }
 #income-btn {
  position: absolute;
  left: 120px;
  font-size: 26px;
  margin-top: 80px;
  
 }
 .container4 {
  width: 1090px;
  height: 100px;
  background: rgba(42,30,58,1);
  border-radius: 5px;
  position: absolute;
  top: 140px;
  left: 120px;
 }
 
 .container5 {
  width: 1090px;
  height: 380px;
  background: rgba(42,30,58,1);
  border-radius: 5px;
  position: absolute;
  top: 280px;
  left: 120px;
 }

#incomeText {
  position: absolute;
  color: white;
  left: 60px;
  font-size: 22px;
  margin-top: 20px; 
}

#expenseText {
  position: absolute;
  color: white;
  left: 60px;
  font-size: 22px;
  margin-top: 20px; 
}

#id3 {
  position: absolute;
  color: white;
  left: 60px;
  font-size: 18px;
  margin-top: 50px;
}

#id4 {
  position: absolute;
  color: white;
  left: 226px;
  font-size: 18px;
  margin-top: 51px;
}

#id5 {
  position: absolute;
  color: white;
  left: 376px;
  font-size: 18px;
  margin-top: 51px;
}

#id6 {
  margin-top: 54px;
  border: 1px solid #CFCFCF;
  height: 16px;
  padding: 2px;
  float: none;
  width: 70px;
  color: black;
  left: 421px;
  position: absolute;
  background: white;
}

#id7 {
  background-color: rgba(162, 166, 65, 1);
  position: absolute;
  margin-top: 52px;
  border: 0 solid black;
  color: black;
  cursor: pointer;
  height: 20px;
  text-align: center;
  width: 90px;
  left: 840px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}


#id8 {
  margin-top: 54px;
  border: 1px solid #CFCFCF;
  height: 16px;
  padding: 2px;
  float: none;
  width: 70px;
  color: black;
  left: 540px;
  position: absolute;
  background: white;
}

#id9 {
  position: absolute;
  color: white;
  left: 498px;
  font-size: 18px;
  margin-top: 51px;
}

#id10 {
  position: absolute;
  color: white;
  left: 615px;
  font-size: 18px;
  margin-top: 51px;
}

#id11 {
  margin-top: 54px;
  border: 1px solid #CFCFCF;
  height: 16px;
  padding: 2px;
  float: none;
  width: 120px;
  color: black;
  left: 693px;
  position: absolute;
  background: white;
}

#expense-btn {
    position: absolute;
    left: 220px;
    font-size: 26px;
    margin-top: 80px;
    
   }
   #expenseList {
    margin-top: 54px;
    height: 16px;
    width: 80px;
    left: 140px;
    position: absolute;
    background-color: #fff;
   }
  #incomeList {  
    margin-top: 54px;
    height: 16px;
    width: 80px;
    left: 140px;
    position: absolute;
    background-color: #fff;
  }
  
  option {
    background-color: #fff;
  }

#moneyList {
  margin-top: 54px;
  height: 16px;
  width: 80px;
  left: 291px;
  position: absolute;
  background-color: #fff;
}

.table {
  left: 45px;  
  position: absolute;
  background-color: rgba(162, 166, 65, 1);
  width: 1000px;
  height: 275px;
  margin-top: 65px;
  overflow: auto;
}
.table2 {
  position: absolute;
  background-color: rgba(162, 166, 65, 1);
  width: 1000px;
  height: 275px;
}
#id12 {
  position: relative;
  height: 50px; 
  color: white;
  background-color: olive ; 
  width: 100px;
  max-width: 100px;
  word-wrap: break-word;
}

#id13 {
  position: relative;
  height: 50px; 
  color: white;
  background-color: olive ; 
  width: 200px;
  max-width: 200px;
}

