* {
  font-family: 'Montserrat';
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  background: rgba(42,30,58,1);
}
body {
  font-size: 14px;
}

/*контейнер фону*/
.container {

width: 100%;
max-width: 1280px;
height: 720px;
margin: 0 auto;
background-color: rgba(118, 110, 100, 1);
}

/*контейнер бокової панелі*/
.container2 {
  width: 48px;
  height: 720px;
  background-color: rgba(162, 166, 65, 1);
  position: absolute;
}

/*контейнер доходів за місяць*/
.container3 {
  width: 384px;
  height: 512px;
  background: rgba(42,30,58,1);
  border-radius: 5px;
  position: absolute;
  top: 66px;
  left: 64px;

}

/*контейнер витрат за місяць*/ 
.container4 {
  width: 384px;
  height: 512px;
  background: rgba(42,30,58,1);
  border-radius: 5px;
  position: absolute;
  top: 66px;
  left: 472px;
}

/*контейнер курсу валют*/
.container5 {
  background: rgba(42,30,58,1);
  position: absolute;
  height: 112px;
  width: 792px;
  left: 64px;
  top: 592px;
  border-radius: 5px;
  
}

/*Контейнер верхньої панелі*/
.container6 {
  width: 1280px;
  height: 50px;
  background: #3b444d; 
  position: absolute;
}
/*заощадження*/
.container7 {
  background: rgba(42,30,58,1);
  position: absolute;
  border-radius: 5px;
width: 384px;
height: 304px;
left: 880px;
top: 66px;
}

/*контейнер*/
.container8 {
  background: rgba(42,30,58,1);
  position: absolute;
  border-radius: 5px;
  width: 384px;
  height: 320px;
  left: 880px;
  top: 384px;
}

/*Курс валют*/

#id1 {
  position: relative;
  margin-top: auto;
  margin-bottom: 20px;
  color: white;
}

#id2 {
  position: relative;
  color: white;
}

/*4 контейнера відображення курсу валют*/
.container9 {
position: absolute;
width: 126px;
height: 57px;
left: 27px;
margin-top: 28px;
}

.container10 {
position: absolute;
width: 126px;
height: 57px;
left: 233px;
margin-top: 28px;
}

.container11 {
  position: absolute;
  width: 126px;
  height: 57px;
  left: 439px;
  margin-top: 28px;
}

.container12 {
  position: absolute;
  width: 126px;
  height: 57px;
  left: 645px;
  margin-top: 28px;
}

/*розділення курсу валют*/
#id3 {
position: absolute;
width: 0px;
height: 84px;
left: 192px;
top: 14px;
border: 2px solid #161513;
}

#id4 {
position: absolute;
width: 0px;
height: 84px;
left: 400px;
top: 14px;
border: 2px solid #161513;
}

#id5 {
  position: absolute;
  width: 0px;
  height: 84px;
  left: 600px;
  top: 14px;
  border: 2px solid #161513;
  }

  /*Доходи та витрати за місяць*/
  #id7 {
    top: 20px;
    position: relative;
    font-size: 24px;
    color: white; 
    margin: 0 auto;
    text-align: center;
    width: 200px;
  }

  #id6 {
  top: 50px;
  position: relative;
  color: white;
  font-size: 18px;
  left: 70px;
  margin-bottom: 30px;
  width: 250px;
  }

  #id8 {
    left: 70px;
    top: 40px;
    position: relative;
    color: white;
    font-size: 18px;
    width: 200px;

    }
    #id9 {
      left: 205px;
      top: 40px;
      position: relative;
      color: white;
      font-size: 18px;
      width: 170px;
      margin-bottom: 15px;
      }

#id10 {
 left: 70px;
    top: 40px;
    position: relative;
    color: white;
    font-size: 18px;
    width: 180px;
}
#id11 {
  left: 135px;
  top: 40px;
  position: relative;
  color: white;
  font-size: 18px;
  width: 200px;
  margin-bottom: 15px;
  }
  #id12 {
    left: 153px;
    top: 40px;
    position: relative;
    color: white;
    font-size: 18px;
    width: 200px;
    margin-bottom: 15px;
    }  
    #id13 {
      left: 133px;
      top: 40px;
      position: relative;
      color: white;
      font-size: 18px;
      width: 180px;
      }   

