{% extends 'baseMain.html' %}
{% block content %}
{% load static %}
    <div class="flex-col-container main-content" style="justify-content: flex-start;">
        <div class="jumbotron">
            <button style="color: yellow;" id="analysis_income_btn" >Доходи</button>
            <button style="color: white;" id="analysis_expense_btn">Витрати</button>
        </div>

        <div class="flex-col-container">
            <div class="jumbotron">
                <h2 id="analysis_income_text" style="margin:5px;">Аналіз доходів</h2>
                <h2 id="analysis_expense_text" style="display: none; padding:5px">Аналіз витрат</h2>
            </div>

            <div class="jumbotron flex-row-container">

                <p class="month" style="margin:5px;">Місяць:</p>

                <select class="monthList3">
                    <option value="1">Січень</option>
                    <option value="2">Лютий</option>
                    <option value="3">Березень</option>
                    <option value="4">Квітень</option>
                    <option value="5" selected>Травень</option>
                    <option value="6">Червень</option>
                    <option value="7">Липень</option>
                    <option value="8">Серпень</option>
                    <option value="9">Вересень</option>
                    <option value="10">Жовтень</option>
                    <option value="11">Листопад</option>
                    <option value="12">Грудень</option>
                    <option value="13">Весь рік</option>
                </select>

                <p class="year">Рік:</p>

                <select class="yearList4 flex-container7-2">
                <option value="1">2022</option>
                <option value="2" selected>2023</option>
                <option value="3">2024</option>
                </select>

                <p class="on-date" >Від:</p>
                <input class="on-date3" type="date" lang="uk-UA">
                <p class="for-date">До:</p>
                <input class="for-date3" type="date" lang="uk-UA">
                <input type="submit" value="Застосувати" class="analysis-button"></input>
            </div>

            <div class="jumbotron">
                <div id="analysis_income_container" style="width:90vw; height: 60vh;">
                    <div>
                        <canvas id="myChart" width="100" height="30" class="analysis_income_chart"></canvas>
                    </div>
                </div>

                <div id="analysis_expense_container" style="width:90vw; height: 60vh; display: none;">
                    <div>
                        <canvas id="myChart2" width="100" height="30" class="analysis_expence_chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        const analysis_incomeBtn = document.getElementById('analysis_income_btn');
        const analysis_expenseBtn = document.getElementById('analysis_expense_btn');

        // обробник кліку на кнопку доходів
        analysis_incomeBtn.addEventListener('click', function() {
        // ховаємо форму витрат і показуємо форму доходів

        analysis_incomeBtn.style.color = 'yellow';
        analysis_expenseBtn.style.color = 'white';

        analysis_income_text.style.display = 'block';
        analysis_expense_text.style.display = 'none';

        analysis_income_container.style.display = 'block';
        analysis_expense_container.style.display = 'none';
        });

        // обробник кліку на кнопку витрат
        analysis_expenseBtn.addEventListener('click', function() {
        // ховаємо форму доходів і показуємо форму витрат

        analysis_incomeBtn.style.color = 'white';
        analysis_expenseBtn.style.color = 'yellow';

        analysis_income_text.style.display = 'none';
        analysis_expense_text.style.display = 'block';

        analysis_income_container.style.display = 'none';
        analysis_expense_container.style.display = 'block';
        });

    </script>

    <script>

        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'horizontalBar',
            data: {
            labels: ['Зарплата', 'Бізнес', 'Подарунки', 'Інвестиції',],
            datasets: [{
                label: 'Аналіз доходів',
                data: [10, 50, 3, 5, 10, 3],
                backgroundColor: ['red', 'blue', 'yellow', 'black',],
                borderColor: ['rgb(255, 99, 132)', 'rgb(54, 162, 235)', 'rgb(255, 205, 86)', ],
            }]
        },

        options: {
            indexAxis: 'y',
            responsive: true, // Дозволяє графіку адаптуватися до розміру контейнера
        }});
    </script>

    <script>

        const ctx2 = document.getElementById('myChart2');

        new Chart(ctx2, {
            type: 'horizontalBar',
            data: {
            labels: ['Харчування', 'Житло', "Зв'зок", 'Транспорт',],
            datasets: [{
                label: 'Аналіз витрат',
                data: [10, 50, 3, 5, 10, 3],
                backgroundColor: ['red', 'blue', 'yellow', 'black',],
                borderColor: ['rgb(255, 99, 132)', 'rgb(54, 162, 235)', 'rgb(255, 205, 86)', ],
            }]
        },

        options: {
            indexAxis: 'y',
            responsive: true, // Дозволяє графіку адаптуватися до розміру контейнера
        }});
    </script>

{% endblock %}
