{% extends 'baseMain.html' %}
{% block content %}
{% load static %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>
<script src="{% static 'script.js' %}"></script>

<div class="flex-col-container main-panel">
    <div class="flex-col-container header-container">
        <nav class="navbar navbar-expand-lg navbar-light col-12">
            <div style="width:4rem; background-color:black;">
                <img src="{% static 'icons/wallet.png' %}" alt="wallet" width="50px" style="display: block; margin-left:auto; margin-right:auto;">
            </div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="height:50px;">
                <ul class="navbar-nav mr-auto" style="margin: auto 0 0 0; text-align:center;">
                    <li class="nav-item">
                        <div class="tab active-tab">
                            <a class="nav-link text-white" href="#">Me</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="tab nonactive-tab">
                            <a class="nav-link text-white" href="#">Sister</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <img src="{% static 'icons/plus.png' %}" alt="wallet" width="35px" style="display: block; margin-left:auto; margin-right:auto; margin: 8px 0px 0px 3px;">
                    </li>
                </ul>
                <div class="flex-row-container" style="width:12rem; background-color:black; border-radius: .5rem 0 0 .5rem; height: 50px;">
                    <img class="rounded-circle" src="{% static 'icons/profileIco.jpg' %}" alt="profileIco" width="40px" height="40px" style="display: block; margin-left:20px; margin-right:0; margin-top:5px;">
                    <p style="color:white; margin:auto auto auto 20px;">Aleksey</p>
                </div>
            </div>
        </nav>
    </div>

    <div class="flex-row-container body-container">
        <div class="left-bar d-flex flex-column flex-shrink-0" style="width: 4rem;">
            <div style="width:4rem;">
                <img src="{% static 'icons/leftbar-first.png' %}" alt="leftbar-first" width="40px" class="flex-col-container" style="margin-left:auto; margin-right:auto; margin-top: 15px;">
            </div>
        </div>

        <div class="flex-row-container main-content">
            <div class="flex-col-container left-main-content" style="justify-content:space-between; margin:5px;">
                <div class="flex-row-container up-left-main-content" style="height: 80vh;">
                    <div class="jumbotron" style="width:50%">
                        <h2 class="display-5 text-center">Доходи за місяць</h2>
                        <canvas id="chart-line-income" width="300" height="200" class="chartjs-render-monitor" style="display: block; width: 300px; height: 200px; margin: 0 0 30px 0;"></canvas>
                        <p class="lead">Зарплата:   12000 грн.</p>
                        <p class="lead">Бізнес:   1700 грн.</p>
                        <p class="lead">Подарунки:   800 грн.</p>
                        <p class="lead">Інвестиції:   200 грн.</p>
                        <p class="lead font-weight-bold">Всього:   3900 грн.</p>
                    </div>

                    <div class="jumbotron" style="width:50%">
                        <h2 class="display-5 text-center">Витрати за місяць</h2>
                        <canvas id="chart-line-spending" width="300" height="200" class="chartjs-render-monitor" style="display: block; width: 300px; height: 200px; margin: 0 0 30px 0;"></canvas>
                        <p class="lead">Харчування:   1800 грн.</p>
                        <p class="lead">Житло:   3200 грн.</p>
                        <p class="lead">Зв'язок:   500 грн.</p>
                        <p class="lead">Транспорт:   700 грн.</p>
                        <p class="lead">Відпочинок:   900 грн.</p>
                        <p class="lead font-weight-bold">Всього:   7100 грн.</p>
                    </div>
                </div>

                <div class="flex-row-container down-left-main-content" style="height:112px; justify-content:space-between; background-color:#1C1D1D; margin:5px; border-radius:.3rem;">
                    <div class="jumbotron curs-container" >
                        <div>
                            <p class="lead">USD to UAH - 36.92</p>
                            <p class="lead">EUR to UAH - 39.12</p>
                        </div>
                        <div class="vr"></div>
                    </div>



                    <div class="jumbotron curs-container">
                        <div>
                            <p class="lead">USD to UAH - 36.92</p>
                            <p class="lead">EUR to UAH - 39.12</p>
                        </div>
                        <div class="vr"></div>
                    </div>



                    <div class="jumbotron curs-container">
                        <div>
                            <p class="lead">USD to UAH - 36.92</p>
                            <p class="lead">EUR to UAH - 39.12</p>
                        </div>
                        <div class="vr"></div>
                    </div>



                    <div class="jumbotron curs-container">
                        <div>
                            <p class="lead">USD to UAH - 36.92</p>
                            <p class="lead">EUR to UAH - 39.12</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex-col-container right-main-content" style="justify-content:space-between; margin: 5px;">
                <div class="jumbotron" style="height:45vh">
                    <h2 class="display-5 text-center">Заощадження</h2>

                </div>
                <div class="jumbotron" style="height:45vh;">
                    <h2 class="display-5 text-center">Графік витрат за сьогодні</h2>
                    <canvas id="chart-line-spending-today" width="300" height="150" class="chartjs-render-monitor" style="display: block; width: 300px; height: 150px; margin-top: 30px;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}