{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="content">
	<div class="container">
        <div class="col-md-6 offset-md-3">
            <div class="menu text-center">
				<a href="../login" class="btn d-inline-block"><h2 style="color: white;">SIGN IN</h2></a>
				<a href="#" class="btn d-inline-block active"><h2>SIGN UP</h2></a>
			</div>
            <form method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
                </br>
                <button type="submit" class="btn btn-secondary">Register</button>
            </form>
        </div>
	</div>
</div>
{% endblock %}